<!DOCTYPE html>
<html>
   <head>
      <!-- STYLESHEET -->
      <link rel="stylesheet" type="text/css" href="./static/css/main.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <h1>A sample application</h1>
      <p>The name of his pokemon is {{ name }}</p>
      <img src="./static/img/pokemon.png"/>
   </body>
</html>
